body {
  margin: 0;
  width: 100vw;
  background-color: lavender;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding: 10px;
}

.mainmenu h2 {
  border: solid black 1px;
  border-radius: 10px;
  padding: 5px;
}

a {
  color: black;
}

nav a {
  color: white;
  text-decoration: none;
}

nav img {
  height: 1.5cm;
  width: auto;
}

.food {
  /* border: solid black 1px;
  border-radius: 10px; */
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
  width: 500px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  line-height:0%;
}

.pricebar {
  display: flex;
}

img {
  width: 100px;
}

h3 {
  margin-left: 2cm;
  margin-right: 2cm;
}

h2 {
  font-family: cursive;
  letter-spacing: 2px;
}

.gif {
  width: 400px;
  margin-left: 450px;
}

iframe {
  border: solid black 10px;
}

.menusection {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.mainmenu {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: black;
  color: white;
  font-weight: bold;
  height: 2cm;
  margin: 0;
}

nav p {
  display: inline;
  padding-inline: 5px;
}

.leftpad{
  padding-left: 20px;
}

.rightpad {
  padding-right: 20px;
}

