body {
  margin: 0;
  width: 100vw;
  background-color: lavender;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.food {
  /* border: solid black 1px;
  border-radius: 10px; */
  padding: 5px;
  margin: 5px;
  width: 500px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.pricebar {
  display: flex;
}

img {
  width: 200px;
}

.menusection {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.mainmenu {
  display: flex;
  justify-content: space-between;
}