body {
  margin: 0;
  width: 100vw;
  background-color: blanchedalmond;
  text-align: center;
}

h1 {
  text-align: center;
}

.food {
  border: solid black 1px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 500px;
  text-align: center;
}

.pricebar {
  display: flex;
}

img {
  width: 200px;
}

.menusection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}